* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.label-wrapper {
  display: flex;
  justify-content: center;
}

.add-event {
  margin-top: 4rem;
  background-color: rgb(109, 117, 123);
  color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgb(109, 117, 123);
  padding: 0.5rem;
  cursor: pointer;
}

#days {
  margin-top: 0.5rem;
}

table {
  width: 100%;
}

tr,
th,
td {
  border: 1px solid lightgrey;
  height: 2.25rem;
  text-align: left;
  padding-left: 0.25rem;
}

thead th {
  background-color: #fff;
  font-size: 0.75rem;
}

tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}
