* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.label-wrapper {
  display: flex;
  justify-content: center;
}
